@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
        font-family: 'JetBrains Mono';
        font-size: 1rem;
        text-rendering: optimizeLegibility;
        line-height: 1.5;
        color-adjust: exact;
        background: #d8d8d8;
}

/* Default link styling */
a:link { color:#0271fb; }
a:visited { color:#bd02fb; }
a:hover, a:focus { color:#000; }
a:active { color:#fb0e02; }
/* Show link destinations in brackets after the link text */
a[href]:after { content: " (" attr(href) ") "; }
a[href] {
  font-weight:bold;
  text-decoration:underline;
  color:#06c;
  border:none;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

b, small {
  font-size: 80%;
}

strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select { /* 1 */
  text-transform: none;
}

textarea {
  overflow: auto;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
