---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

* {
  color-adjust: exact;
  text-rendering: optimizeLegibility;
}


pre, code {
  color: #bf616a;
  overflow-x: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

html:not([mode]) pre, html[mode="dark"] pre {
  color: #A3BE8C;
}

mark {
  margin: 0 .25em;
  padding: .0625em 0;
  border-radius: .1rem;
  background-color: #dcfe5f;
  box-shadow: .25em 0 0 #dcfe5f,-.25em 0 0 #dcfe5f;
  word-break: break-word;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

kbd {
  background-color: #ecede5;
  border-radius: .1rem;
  box-shadow: 0 0.1rem 0 0.05rem #686d59,0 0.1rem 0 #686d59,0 -0.1rem 0.2rem #fff inset;
  color: #2d3329;
  display: inline-block;
  font-size: .75em;
  font-family: var(--md-code-font-family),SFMono-Regular,Consolas,Menlo,monospace;
  font-feature-settings: "kern";
  padding: 0 .6666666667em;
  vertical-align: text-top;
  word-break: break-word;
}

html:not([mode]) kbd, html[mode="dark"] kbd {
    background-color: #ecede5;
}
